<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="..//assets/prueba.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <nav id="section">
            <button id="listar">Listar</button>
            <button id="listarCategoria">Listar categoria</button>
            <button id="listarUsuario">Listar Usuario</button>
            <button id="crear">crear</button>
            <button id="maximo">tope maximo</button>
            <button id="cerrar">cerrar sesion</button>
        </nav>
    </header>
</body>
</html>